<!-- Filename: index.ejs
main page for web application -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/globals.css" rel="stylesheet" />
    <script src="/scripts/main.js" defer></script>
    <title>Picture Greeting Generator</title>
  </head>
  <body class="app">
    <header>
      <a href="/"><h1 class="heading1-text">Picture Greeting Generator</h1></a>
    </header>
    <main>
      <section class="image-section">
        <img
          id="image"
          src="<%= imgPath %>"
          alt="Randomly generated image from the server."
        />
      </section>
      <section class="greeting-section">
        <blockquote>
          <i id="greeting"><%= greeting.text %></i>
          <cite id="author"><%= greeting.author %></cite>
        </blockquote>
      </section>
      <section class="controls-section">
        <button id="generate-button">Generate</button>
      </section>
    </main>
    <footer>
      <span class="footer-text"
        >Andres Hung |
        <a
          href="https://github.com/andreshungbz/picture-greeting-generator"
          target="_blank"
          >GitHub</a
        ></span
      >
    </footer>
  </body>
</html>
